@using Coldairarrow.Entity.OtherManage;
@using Coldairarrow.Util;

@{
    Layout = "~/Views/Shared/_Layout_Form.cshtml";

    var obj = (Dev_Picture)Model;
    var objStr = Html.Raw(obj.ToJson());
}
<div style="padding:15px;padding-right:45px;">
    <form id="form" class="form-horizontal" role="form">
        
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">所属类型</label>
            <div class="col-sm-5">
             
                <select id="PictureType" name="PictureType" class="selectpicker form-control" data-style="btn-default btn-sm">
                    <option value="首页Banner">首页Banner</option>
                    <option value="其他类型">其他类型</option>
                </select>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">标题</label>
            <div class="col-sm-5">
                <input name="Title" value="@obj.Title" type="text" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">图片</label>
            <div class="col-sm-5">
                <div id="Pic" style="width:300px;height:150px;overflow:auto"> </div>
                <img id="PicYL" style="width:150px;height:150px;overflow:auto" src="" />

            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">链接</label>
            <div class="col-sm-5">
                <input name="Link" value="@obj.Link" type="text" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        @*<div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">点击数量</label>
            <div class="col-sm-5">
                <input name="ClickNum" value="@obj.ClickNum" type="text" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>*@
        @*<div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">创建时间</label>
            <div class="col-sm-5">
                <input name="CreateTime" value="@obj.CreateTime" type="text" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>*@
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">状态</label>
            <div class="col-sm-5">
                <select id="Status" name="Status" class="selectpicker form-control" data-style="btn-default btn-sm">
                    <option value="1">正常</option>
                    <option value="2">隐藏</option>
                </select>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">排序</label>
            <div class="col-sm-5">
                <input name="Sort" value="@obj.Sort" type="text" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group">
            <button id="submit" type="submit" class="hidden">提交</button>
        </div>
    </form>
</div>
<script>
    var theEntity = @objStr;

    if (theEntity.Id == null) {
        $("#PicYL").hide();
    }
    else {

        $("#PicYL").attr('src', theEntity.Pic);
    }


    $(function () {
        initEvent();

        $('#Pic').html5Uploader({
            //imgs: theEntity[aImgId],
            asyncUpload: true,
            uploadUrl: '/Base_SysManage/Common/UploadFile',
            uploadLimit: 1,  //上传数量限制，0为不限
            sizeLimit: 5,    //大小限制，M
            type: 'file' //file即可上传文件也可上传图片
        });


    });

    //事件绑定
    function initEvent() {

        $('#PictureType').selectpicker({
            value: theEntity.PictureType
        });

        $('#Status').selectpicker({
            value: theEntity.Status
        });

        //表单校验
        $('#form').validator().on('submit', function (e) {
            //校验成功
            if (!e.isDefaultPrevented()) {
                e.preventDefault();

                var values = $('#form').getValues();

             
                try {
                    values.Pic = $("#Pic").find('img')[0].src;
                } catch (e) {

                }


                $.extend(theEntity, values);
                loading();
                $.postJSON('/OtherManage/Dev_Picture/SaveData', theEntity, function (resJson) {
                    loading(false);

                    if (resJson.Success) {
                        parent.$('#dataTable').bootstrapTable('refresh');
                        parent.dialogSuccess();
                        dialogClose();
                    }
                    else {
                        dialogError(resJson.Msg);
                    }
                });
            }
        })
    }

    //提交表单
    function submitForm() {
        $('#submit').trigger('click');
    }
</script>